/*




eLpAmIiXcVzSeyJwYWxldHRlLTAiOiJyZ2IoNTIsIDY3LCAxNjQpIiwicGFsZXR0ZS0xIjoicmdiKDE1LCAxNCwgMTIpIiwibWVudS1iYWNrZ3JvdW5kLWNvbG9yIjoicmdiYSgxNzEsIDE1NywgMTU3LCAwLjc1KSIsIm1lbnUtaG92ZXItYmFja2dyb3VuZC1jb2xvciI6InJnYigxNjcsIDE2MiwgMTUzKSIsImhvbWUtbWVudS10ZXh0LWNvbG9yIjoicmdiKDAsIDAsIDApIiwidG9wYmFyLWJhY2tncm91bmQtY29sb3IiOiJyZ2JhKDE5MSwgMTkxLCAxOTEsIDAuNSkiLCJ0b3BiYXItdGV4dC1jb2xvciI6InJnYigwLCAwLCAwKSIsInRvcGJhci1saWdodC10ZXh0LWNvbG9yIjoicmdiYSgwLCAwLCAwLCAwLjYpIiwidG9wYmFyLWxldmVsLWJhY2tncm91bmQtY29sb3IiOiJyZ2JhKDAsIDAsIDAsIDAuOCkiLCJ0b3AtYmFyLXJvdW5kbmVzcyI6IjAiLCJtZW51LWZwcy1jb2xvciI6InJnYigwLCAwLCAwKSIsIm1lbnUtcGluZy1jb2xvciI6InJnYigxMjQsIDIzMiwgMjMpIiwidG9wYmFyLWNvdW50ZXJzLXRleHQtY29sb3IiOiJyZ2JhKDAsIDAsIDAsIDAuNzUpIiwiaG9tZS1wcm9ncmVzcy1iYXIiOiJyZ2IoMiwgMTEwLCAxOTYpIiwiaG9tZS1wcm9ncmVzcy1iYXItYmFja2dyb3VuZCI6InJnYmEoMjU1LCAyNTUsIDI1NSwgMC43NSkiLCJtYXBpbmZvLWNvbG9yIjoicmdiKDI1NSwgMjU1LCAyNTUpIiwibWFwaW5mby1kaXNwbGF5IjoidHJ1ZSIsInRlcm1zLWNvbG9yIjoicmdiKDIxLCAxMDgsIDIxNCkiLCJhZHZlcnRpc2UtY29sb3IiOiJyZ2IoMCwgMCwgMCkiLCJzaG93LWxlZ2FsLWxpbmtzIjoidHJ1ZSIsIm1lbnUtcGxheWVyLW5hbWUtY29sb3IiOiJyZ2IoMjU1LCAyNTUsIDI1NSkiLCJob21lLXByZW1pdW0tY29sb3IiOiJyZ2IoMjU1LCAxODQsIDcpIiwiaG9tZS12ZXJpZmllZC1jb2xvciI6InJnYig0MCwgMTQwLCAxODQpIiwiaW5zdHJ1Y3Rpb25zLWNvbG9yIjoicmdiYSg2MiwgMCwgMjU1LCAwLjgpIiwic2hvdy1sb2dvIjoidHJ1ZSIsImxvZ28tc2l6ZSI6IjIyNS4wMDAwMDAwMDAwMDAwMyIsInNob3ctbWVudS1wcm9maWxlLXBpYyI6InRydWUiLCJzaG93LWxldmVsLWljb24iOiJmYWxzZSIsInNob3ctYnV5LWtyLWJ1dHRvbiI6ImZhbHNlIiwic2hvdy1zb2NpYWwtYnV0dG9ucyI6ImZhbHNlIiwic2hvdy1hY3RpdmUtc3RyZWFtcyI6ImZhbHNlIiwic2hvdy1mcmVlLWtyLWJ1dHRvbiI6InRydWUiLCJzaG93LW1lcmNoLWJ1dHRvbiI6ImZhbHNlIiwibWVudS1iYWNrZ3JvdW5kIjoicmdiKDI1NSwgMjU1LCAyNTUpIiwibWVudS1zaGFkb3ciOiJyZ2IoMTY2LCAxNjYsIDE2NikiLCJtZW51LXJvdW5kbmVzcyI6IjYiLCJtZW51LXRleHQtY29sb3IiOiJyZ2IoNTMsIDUzLCA1MykiLCJtZW51LWxpZ2h0LXRleHQtY29sb3IiOiJyZ2JhKDAsIDAsIDAsIDAuNSkiLCJzbGlkZXItYmFja2dyb3VuZCI6InJnYigxNjgsIDE2OCwgMTY4KSIsInNsaWRlci10aHVtYi1jb2xvciI6InJnYigzMywgMTUwLCAyNDMpIiwic3dpdGNoLXRodW1iIjoicmdiKDI1NSwgMjU1LCAyNTUpIiwiaW5wdXQtdGV4dCI6InJnYigyNTUsIDI1NSwgMjU1KSIsImlucHV0LWZpZWxkIjoicmdiKDIzOCwgMjM4LCAyMzgpIiwiaW5wdXQtZmllbGQtcGxhY2Vob2xkZXIiOiJyZ2IoMjM4LCAyMzgsIDIzOCkiLCJpbnB1dC1maWVsZC10ZXh0IjoicmdiKDUzLCA1MywgNTMpIiwic2Nyb2xsYmFyIjoicmdiKDEzNCwgMTM0LCAxMzQpIiwic2Nyb2xsYmFyLXRyYWNrIjoicmdiKDI0MCwgMjQwLCAyNDApIiwibGluayI6InJnYigzMywgMTUwLCAyNDMpIiwicmFua2VkLXJlYWR5IjoicmdiKDMzLCAxNTAsIDI0MykiLCJyYW5rZWQtcmVhZHktc2hhZG93IjoicmdiKDI3LCAxMTgsIDE5MSkiLCJyYW5rZWQtdW5yZWFkeSI6InJnYigyNTUsIDcxLCA3MSkiLCJyYW5rZWQtdW5yZWFkeS1zaGFkb3ciOiJyZ2IoMTUzLCA0MywgNDMpIiwicmFua2VkLXJlYWR5LWJvcmRlci1jb2xvciI6InJnYig1MCwgMjA1LCA1MCkiLCJyYW5rZWQtdW5yZWFkeS1ib3JkZXItY29sb3IiOiJyZ2JhKDAsIDAsIDAsIDAuMikiLCJyYW5rZWQtdGV4dCI6InJnYigyNTUsIDI1NSwgMjU1KSIsInByZXNldHMtZGlzcGxheSI6InRydWUiLCJpbnB1dCI6InJnYigzMywgMTUwLCAyNDMpIiwicHJvZmlsZS10YWJzLWJhY2tncm91bmQtY29sb3IiOiJyZ2JhKDAsIDAsIDAsIDAuMTIpIiwicHJvZmlsZS10YWJzLXNlbGVjdGVkLWhpZ2hsaWdodC1jb2xvciI6InJnYmEoMCwgMCwgMCwgMC43KSIsInByb2ZpbGUtdGFicy1zZWxlY3RlZC1ob3Zlci1jb2xvciI6InJnYmEoMCwgMCwgMCwgMC4yKSIsInByb2dyZXNzLWJhci1maWxsZWQiOiJyZ2IoMzMsIDE1MCwgMjQzKSIsInByb2dyZXNzLWJhci11bmZpbGxlZCI6InJnYigzNiwgMzYsIDM2KSIsInByb2dyZXNzLWJhci10ZXh0IjoicmdiKDI1NSwgMjU1LCAyNTUpIiwidGltZXItaWNvbi1kaXNwbGF5IjoidHJ1ZSIsImhlYWx0aC1pY29uLWRpc3BsYXkiOiJ0cnVlIiwiYW1tby1pY29uLWRpc3BsYXkiOiJ0cnVlIiwiaHVkLWJhY2tncm91bmQtY29sb3IiOiJyZ2JhKDAsIDAsIDAsIDAuMikiLCJodWQtdGV4dC1jb2xvciI6InJnYmEoMjU1LCAyNTUsIDI1NSwgMC43KSIsImh1ZC1ib2xkLXRleHQtY29sb3IiOiJyZ2IoMjU1LCAyNTUsIDI1NSkiLCJodWQtcm91bmRuZXNzIjoiMTAiLCJsZWFkZXJib2FyZC1tZS1jb2xvciI6InJnYigyNTUsIDI1NSwgMjU1KSIsImxlYWRlcmJvYXJkLXRlYW0tY29sb3IiOiJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNikiLCJsZWFkZXJib2FyZC1lbmVteS1jb2xvciI6InJnYigyMzUsIDg2LCA4NikiLCJsZWFkZXJib2FyZC1jbGFuLWNvbG9yIjoicmdiKDI1NSwgMjU1LCAyNTUpIiwibGVhZGVyYm9hcmQtdmVyaWZpZWQtY2xhbi1jb2xvciI6InJnYigyNTEsIDE5MiwgNDUpIiwicHJlbWl1bS1jb2xvciI6InJnYigyNTEsIDE5MiwgNDUpIiwidmVyaWZpZWQtY29sb3IiOiJyZ2IoNjQsIDE5NiwgMjU1KSIsImVuZW15LXNjb3JlLWNvbG9yIjoicmdiKDIzNSwgODYsIDg2KSIsInRlYW0tc2NvcmUtY29sb3IiOiJyZ2IoMjU1LCAyNTUsIDI1NSkiLCJmcHMtY29sb3IiOiJyZ2IoMTU4LCAyMzUsIDg2KSIsInBpbmctY29sb3IiOiJyZ2IoMTU4LCAyMzUsIDg2KSIsInZvdGVraWNrLWtleXMtY29sb3IiOiJyZ2IoMjUxLCAxOTIsIDQ1KSIsImhlYWx0aC1iYXItcm91bmRuZXNzIjoiNSIsIm1haW4tYnV0dG9uLWNvbG9yIjoicmdiKDE0OSwgMTQ5LCAxNDkpIiwibWFpbi1idXR0b24tc2hhZG93LWNvbG9yIjoicmdiKDAsIDAsIDApIiwibWFpbi1idXR0b24taG92ZXItY29sb3IiOiJyZ2IoMTkyLCAxOTIsIDE5MikiLCJtYWluLWJ1dHRvbi1ob3Zlci1zaGFkb3ctY29sb3IiOiJyZ2IoMTc5LCAxNzksIDE3OSkiLCJtYWluLWJ1dHRvbi10ZXh0LWNvbG9yIjoicmdiKDAsIDAsIDApIiwibWFpbi1idXR0b24tY29ybmVyLXJvdW5kbmVzcyI6IjcuOTQ0ODI3NTg2MjA2ODk2Iiwic2Vjb25kYXJ5LWJ1dHRvbiI6InJnYigzMywgMTUwLCAyNDMpIiwic2Vjb25kYXJ5LWJ1dHRvbi1ob3ZlciI6InJnYigyNiwgMTIwLCAxOTQpIiwic2Vjb25kYXJ5LWJ1dHRvbi10ZXh0IjoicmdiKDI1NSwgMjU1LCAyNTUpIiwic2Vjb25kYXJ5LWJ1dHRvbi1yb3VuZG5lc3MiOiI2IiwiY2hhdC1iYWNrZ3JvdW5kLWNvbG9yIjoicmdiYSgyNTUsIDI1NSwgMjU1LCAwLjIpIiwiY2hhdC1pbnB1dC1iYWNrZ3JvdW5kLWNvbG9yIjoicmdiYSgwLCAwLCAwLCAwLjQpIiwiY2hhdC10ZXh0LWNvbG9yIjoicmdiYSgyNTUsIDI1NSwgMjU1LCAwLjcpIiwiY2hhdC1ib2xkLXRleHQtY29sb3IiOiJyZ2IoMjU1LCAyNTUsIDI1NSkiLCJjaGF0LXlvdS1jb2xvciI6InJnYigyNTUsIDI1NSwgMjU1KSIsImNoYXQtdGVhbS1jb2xvciI6InJnYigxNTgsIDIzNSwgODYpIiwiY2hhdC1lbmVteS1jb2xvciI6InJnYigyMzUsIDg2LCA4NikiLCJjaGF0LWxlYXZlLXRleHQtY29sb3IiOiJyZ2IoMjExLCA0NSwgMjAwKSIsImNoYXQtbWljLWRpc3BsYXkiOiJmYWxzZSIsImNoYXQtcm91bmRuZXNzIjoiOC42MDY4OTY1NTE3MjQxMzciLCJjaGF0LWlucHV0LXJvdW5kbmVzcyI6IjkuNDg5NjU1MTcyNDEzNzkzIiwiY2hhdC1hbmltYXRlIjoidHJ1ZSIsImNsYXNzLW5hbWUtY29sb3IiOiJyZ2IoMjU1LCAyNTUsIDI1NSkiLCJjbGFzcy13ZWFwb24tY29sb3IiOiJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNykiLCJjbGFzcy1ocC12YWx1ZS1jb2xvciI6InJnYigyNTUsIDI1NSwgMjU1KSIsImNsYXNzLWhwLXVuaXQtY29sb3IiOiJyZ2IoMTM0LCAxMzIsIDEzMikiLCJjbGFzcy1sZXZlbC1jb2xvciI6InJnYigyNTUsIDI1NSwgMjU1KSIsImNsYXNzLXByb2dyZXNzLWJhci1jb2xvciI6InJnYigzMywgMTUwLCAyNDMpIiwiY2xhc3MtcHJvZ3Jlc3MtYmFyLWJhY2tncm91bmQtY29sb3IiOiJyZ2IoMzYsIDM2LCAzNikiLCJnYW1lZm9udCI6IiIsImhlYWRlcmZvbnQiOiIifQ==eLpAmIiXcVzS

*/

:root {
	--menu-background-color: rgba(171, 157, 157, 0.75);
	--menu-hover-background-color: rgb(167, 162, 153);
	--home-menu-text-color: rgb(0, 0, 0);
	--topbar-background-color: rgba(191, 191, 191, 0.5);
	--topbar-text-color: rgb(0, 0, 0);
	--topbar-light-text-color: rgba(0, 0, 0, 0.6);
	--topbar-level-background-color: rgba(0, 0, 0, 0.8);
	--top-bar-roundness: 0px;
	--menu-fps-color: rgb(0, 0, 0);
	--menu-ping-color: rgb(124, 232, 23);
	--topbar-counters-text-color: rgba(0, 0, 0, 0.75);
	--home-progress-bar: rgb(2, 110, 196);
	--home-progress-bar-background: rgba(255, 255, 255, 0.75);
	--mapinfo-color: rgb(255, 255, 255);
	--mapinfo-display: block;
	--terms-color: rgb(21, 108, 214);
	--advertise-color: rgb(0, 0, 0);
	--legal-links-display: block;
	--menu-player-name-color: rgb(255, 255, 255);
	--home-premium-color: rgb(255, 184, 7);
	--home-verified-color: rgb(40, 140, 184);
	--instructions-color: rgba(62, 0, 255, 0.8);
	--show-logo: flex;
	--logo-size: 225.00000000000003px;
	--show-menu-profile-pic: block;
	--level-icon-display: none;
	--buy-kr-button-display: none;
	--social-buttons-display: none;
	--active-streams-display: none;
	--free-kr-display: block;
	--merch-button-display: none;
	--menu-background: rgb(255, 255, 255);
	--menu-shadow: rgb(166, 166, 166);
	--menu-roundness: 6px;
	--menu-text-color: rgb(53, 53, 53);
	--menu-light-text-color: rgba(0, 0, 0, 0.5);
	--slider-background: rgb(168, 168, 168);
	--slider-thumb-color: rgb(33, 150, 243);
	--switch-thumb: rgb(255, 255, 255);
	--input-text: rgb(255, 255, 255);
	--input-field: rgb(238, 238, 238);
	--input-field-placeholder: rgb(238, 238, 238);
	--input-field-text: rgb(53, 53, 53);
	--scrollbar: rgb(134, 134, 134);
	--scrollbar-track: rgb(240, 240, 240);
	--link: rgb(33, 150, 243);
	--ranked-ready: rgb(33, 150, 243);
	--ranked-ready-shadow: rgb(27, 118, 191);
	--ranked-unready: rgb(255, 71, 71);
	--ranked-unready-shadow: rgb(153, 43, 43);
	--ranked-ready-border-color: rgb(50, 205, 50);
	--ranked-unready-border-color: rgba(0, 0, 0, 0.2);
	--ranked-text: rgb(255, 255, 255);
	--presets-display: inline-block;
	--input: rgb(33, 150, 243);
	--profile-tabs-background-color: rgba(0, 0, 0, 0.12);
	--profile-tabs-selected-highlight-color: rgba(0, 0, 0, 0.7);
	--profile-tabs-selected-hover-color: rgba(0, 0, 0, 0.2);
	--progress-bar-filled: rgb(33, 150, 243);
	--progress-bar-unfilled: rgb(36, 36, 36);
	--progress-bar-text: rgb(255, 255, 255);
	--timer-icon-display: inline-block;
	--health-icon-display: inline-block;
	--ammo-icon-display: inline-block;
	--hud-background-color: rgba(0, 0, 0, 0.2);
	--hud-text-color: rgba(255, 255, 255, 0.7);
	--hud-bold-text-color: rgb(255, 255, 255);
	--hud-roundness: 10px;
	--leaderboard-me-color: rgb(255, 255, 255);
	--leaderboard-team-color: rgba(255, 255, 255, 0.6);
	--leaderboard-enemy-color: rgb(235, 86, 86);
	--leaderboard-clan-color: rgb(255, 255, 255);
	--leaderboard-verified-clan-color: rgb(251, 192, 45);
	--premium-color: rgb(251, 192, 45);
	--verified-color: rgb(64, 196, 255);
	--enemy-score-color: rgb(235, 86, 86);
	--team-score-color: rgb(255, 255, 255);
	--fps-color: rgb(158, 235, 86);
	--ping-color: rgb(158, 235, 86);
	--votekick-keys-color: rgb(251, 192, 45);
	--health-bar-roundness: 5px;
	--main-button-color: rgb(149, 149, 149);
	--main-button-shadow-color: rgb(0, 0, 0);
	--main-button-hover-color: rgb(192, 192, 192);
	--main-button-hover-shadow-color: rgb(179, 179, 179);
	--main-button-text-color: rgb(0, 0, 0);
	--main-button-corner-roundness: 7.944827586206896px;
	--secondary-button: rgb(33, 150, 243);
	--secondary-button-hover: rgb(26, 120, 194);
	--secondary-button-text: rgb(255, 255, 255);
	--secondary-button-roundness: 6px;
	--chat-background-color: rgba(255, 255, 255, 0.2);
	--chat-input-background-color: rgba(0, 0, 0, 0.4);
	--chat-text-color: rgba(255, 255, 255, 0.7);
	--chat-bold-text-color: rgb(255, 255, 255);
	--chat-you-color: rgb(255, 255, 255);
	--chat-team-color: rgb(158, 235, 86);
	--chat-enemy-color: rgb(235, 86, 86);
	--chat-leave-text-color: rgb(211, 45, 200);
	--chat-mic-display: none;
	--chat-roundness: 8.606896551724137px;
	--chat-input-roundness: 9.489655172413793px;
	--chat-animate: 0.2s ease-in-out;
	--class-name-color: rgb(255, 255, 255);
	--class-weapon-color: rgba(255, 255, 255, 0.7);
	--class-hp-value-color: rgb(255, 255, 255);
	--class-hp-unit-color: rgb(134, 132, 132);
	--class-level-color: rgb(255, 255, 255);
	--class-progress-bar-color: rgb(33, 150, 243);
	--class-progress-bar-background-color: rgb(36, 36, 36);
}

* {
    color: var(--menu-text-color);
}

.progressBarInner {
	background: var(--home-progress-bar) !important;
}

.imageButton {
	display: var(--social-buttons-display) !important;
}

.headerBarRight .verticalSeparator {
	display: var(--social-buttons-display) !important;
}

#streamContainer {
	display: var(--active-streams-display) !important;
}

#claimHolder {
	display: var(--free-kr-display) !important;
}

#merchHolder {
	display: var(--merch-button-display) !important;
}

#mapInfo + div {
	display: var(--legal-links-display) !important;
}

.button {
	background-color: var(--main-button-color) !important;
	box-shadow: inset 0 -7px 0 0 var(--main-button-shadow-color) !important;
	color: var(--main-button-text-color) !important;
	border-radius: var(--main-button-corner-roundness) !important;
}

.button:hover {
	background-color: var(--main-button-hover-color) !important;
	box-shadow: inset 0 -7px 0 0 var(--main-button-hover-shadow-color) !important;
}

.accountButton {
	background-color: var(--secondary-button) !important;
	color: var(--secondary-button-text) !important;
	border-radius: var(--secondary-button-roundness) !important;
}

.accountButton:hover {
	background-color: var(--secondary-button-hover) !important;
}

.mapLoadButton {
	background-color: var(--secondary-button) !important;
	color: var(--secondary-button-text) !important;
	border-radius: var(--secondary-button-roundness) !important;
}

.mapLoadButton:hover {
	background-color: var(--secondary-button-hover) !important;
}

.updDisN {
	background-color: var(--secondary-button) !important;
	color: var(--secondary-button-text) !important;
	border-radius: var(--secondary-button-roundness) !important;
}

.updDisN:hover {
	background-color: var(--secondary-button-hover) !important;
	transform: none;
}

.subPassChg {
	background-color: var(--secondary-button) !important;
	color: var(--secondary-button-text) !important;
	border-radius: var(--secondary-button-roundness) !important;
}

.subPassChg:hover {
	background-color: var(--secondary-button-hover) !important;
	transform: none;
}

.creatorCodeBtn {
	background-color: var(--secondary-button) !important;
	color: var(--secondary-button-text);
	border-radius: var(--secondary-button-roundness) !important;
}

.creatorCodeBtn:hover {
	background-color: var(--secondary-button-hover) !important;
	filter: none !important;
}

.redVouchBtn {
	background-color: var(--secondary-button) !important;
	color: var(--secondary-button-text) !important;
	border-radius: var(--secondary-button-roundness) !important;
}

.creatorCodeBtn:hover {
	background-color: var(--secondary-button-hover) !important;
}

.hostToggle {
	background-color: var(--secondary-button) !important;
	color: var(--secondary-button-text) !important;
	border-radius: var(--secondary-button-roundness) !important;
}

.hostToggle:hover {
	background-color: var(--secondary-button-hover) !important;
}

.hostPresetBtn {
	background-color: var(--secondary-button) !important;
	color: var(--secondary-button-text) !important;
	border-radius: var(--secondary-button-roundness) !important;
}

.hostPresetBtn:hover {
	color: var(--secondary-button-text) !important;
	background-color: var(--secondary-button-hover) !important;
}

.quickJoin {
	background-color: var(--secondary-button) !important;
	color: var(--secondary-button-text) !important;
	border-radius: var(--secondary-button-roundness) !important;
}

.quickJoin:hover {
	background-color: var(--secondary-button-hover) !important;
}

.searchBtn {
	background-color: var(--secondary-button) !important;
	color: var(--secondary-button-text) !important;
	border-radius: var(--secondary-button-roundness) !important;
}

.searchBtn:hover {
	background-color: var(--secondary-button-hover) !important;
	transform: none !important;
	filter: none !important;
}

.joinQueue {
	color: var(--ranked-text) !important;
	background-color: var(--ranked-ready) !important;
	box-shadow: inset 0 -10px 0 0 var(--ranked-ready-shadow) !important;
}

.joinQueue:hover {
	box-shadow: inset 0 -7px 0 0 var(--ranked-ready-shadow) !important;
}

.jQR {
	background-color: var(--ranked-unready) !important;
	box-shadow: inset 0 -10px 0 0 var(--ranked-unready-shadow) !important;
}

.jQR:hover {
	box-shadow: inset 0 -7px 0 0 var(--ranked-unready-shadow) !important;
}

.krSocial {
	display: var(--buy-kr-button-display) !important;
}

#menuLevelIcon {
	display: var(--level-icon-display) !important;
}

.sliderVal {
	color: var(--input-text) !important;
	background: var(--input) !important;
}

.sliderM {
	background-color: var(--slider-background) !important;
}

.sliderM::-webkit-slider-thumb {
	background-color: var(--input) !important;
}

input:checked+.slider {
	background-color: var(--input) !important;
}

.slider:before {
	background-color: var(--switch-thumb) !important;
}

input:checked+.optCheck {
	background-color: var(--input) !important;
}

.xpBar {
	background-color: var(--progress-bar-unfilled) !important;
}

.xpBarB {
	background-color: var(--progress-bar-filled) !important;
}

.xpBarV {
	color: var(--progress-bar-text) !important;
}

.inputGrey2 {
	background: var(--input-field) !important;
	color: var(--input-field-text) !important;
}

.inputGrey2::placeholder {
	color: var(--input-field-placeholder) !important;
}

.formInput {
	background: var(--input-field) !important;
}

.formInput::placeholder {
	color: var(--input-field-placeholder) !important;
}

#passCode {
	background: var(--input-field) !important;
}

#passCode::placeholder {
	color: var(--input-field-placeholder) !important;
}

#presetSelect {
	background: var(--input-field) !important;
}

#presetSelect::placeholder {
	color: var(--input-field-placeholder) !important;
}

#customSnameTeam1 {
	background: var(--input-field) !important;
}

#customSnameTeam1::placeholder {
	color: var(--input-field-placeholder) !important;
}

#customSnameTeam2 {
	background: var(--input-field) !important;
}

#customSnameTeam2::placeholder {
	color: var(--input-field-placeholder) !important;
}

.sliderM::-webkit-slider-thumb {
	background-color: var(--slider-thumb-color) !important;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	background-color: var(--scrollbar-track) !important;
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar) !important;
}

#menuWindow {
	background-color: var(--menu-background) !important;
	box-shadow: 0 9px 0 0 var(--menu-shadow) !important;
	border-radius: var(--menu-roundness) !important;
}

.serverHeader {
	background-color: var(--menu-background) !important;
	border-radius: var(--menu-roundness) !important;
}

.settingsHeader {
	background-color: var(--menu-background) !important;
	border-radius: var(--menu-roundness) !important;
}

.settingPreset {
	display: var(--presets-display) !important;
}

#timerIcon {
	display: var(--timer-icon-display) !important;
}

#challIcon {
	display: var(--health-icon-display) !important;
}

#ammoIcon {
	display: var(--ammo-icon-display) !important;
}

a {
	color: var(--link);
}

a:visited {
	color: var(--link);
}

a:active {
	color: var(--link);
}

.chatItem {
	color: var(--chat-bold-text-color) !important;
	background-color: var(--chat-background-color) !important;
	border-radius: var(--chat-roundness);
}

.chatMsg {
	color: var(--chat-text-color) !important;
}

#voiceDisplay {
	display: var(--chat-mic-display) !important;
}

#chatInput {
	color: var(--chat-text-color) !important;
	border-radius: var(--chat-input-roundness);
}

.chatMsg[style*='color: #fc03ec'] {
	color: var(--chat-leave-text-color) !important;
}

.leaderName, .newLeaderName, .newLeaderNameF, .endTableN[style*='color: #eb5656;'] {
	color: var(--leaderboard-enemy-color) !important;
}

.leaderName span, .newLeaderName span, .leaderNameM span, .newLeaderNameM span, .leaderNameF span, .newLeaderNameF span {
	color: var(--leaderboard-clan-color) !important;
}

.leaderName span[style*='color:#FBC02D'], .newLeaderName span[style*='color:#FBC02D'], .leaderNameM span[style*='color:#FBC02D'], .newLeaderNameM span[style*='color:#FBC02D'], .newLeaderNameF span[style*='color:#FBC02D'] {
	color: var(--leaderboard-verified-clan-color) !important;
}

.leaderNameM, .newLeaderNameM, .endTableN[style*='color: #fff;'] {
	color: var(--leaderboard-me-color) !important;
}

.leaderNameF, .newLeaderNameF, .endTableN[style*='color: rgba(255,255,255,0.6);'] {
	color: var(--leaderboard-team-color) !important;
}

.countIcon, #leaderDisplay, #ammoDisplay, #timerDisplay, #teamScores, #voteToKick, #hudClassIcon, #healthValueHolder {
	background-color: var(--hud-background-color) !important;
	border-radius: var(--hud-roundness);
}

#ammoVal, #curGameInfo, #timerVal, #healthValue, #reloadMsg {
	color: var(--hud-bold-text-color) !important;
}

#killsVal, #deathsVal, #streakVal, #myScoreVal, #ammoMax, .weapKey, #pingDisplay, #fpsDisplay, #ingressDisplay, #egressDisplay, #pingText, #ingressPacketCount, #ingressDataSize, #egressPacketCount, #egressDataSize, #curGameInfo div, .tScoreT, #voteKickNum, #voteKickName, #voteKickKeys, #maxHP {
	color: var(--hud-text-color) !important;
}

#ingameFPS {
	color: var(--fps-color) !important;
}

#voteKickKeys span {
	color: var(--votekick-keys-color) !important;
}

.partyAvatar {
	border-color: var(--ranked-unready-border-color);
}

.partyAvatar.ready {
	border-color: var(--ranked-ready-border-color);
}

#chatInput {
	background-color: var(--chat-input-background-color) !important;
}

.chatMsg span[style*='color:#eb5656'] {
	color: var(--chat-enemy-color) !important;
}
.chatMsg span[style*='color: #9eeb56'] {
	color: var(--chat-team-color) !important;
}

.chatMsg span[style*='color:#fff'] {
	color: var(--chat-you-color) !important;
}

.menuItem {
	background: var(--menu-background-color) !important;
}

.headerBar {
	background-color: var(--topbar-background-color) !important;
}

#instructions {
	color: var(--instructions-color) !important;
}

.progressBar {
	background-color: var(--home-progress-bar-background) !important;
}

.menuItem:hover {
	background: var(--menu-hover-background-color) !important;
}

.menuItem .menuItemTitle {
	color: var(--home-menu-text-color) !important;
}

#menuFPS {
	color: var(--menu-fps-color) !important;
}

#mapInfo {
	color: var(--mapinfo-color) !important;
	display: var(--mapinfo-display) !important;
}

.terms {
	color: var(--terms-color) !important;
}

.standout {
	color: var(--advertise-color) !important;
}

#menuPingIcon {
	color: var(--menu-ping-color) !important;
}

#pingIcon {
	color: var(--ping-color) !important;
}

.tScoreC {
    background-color: var(--enemy-score-color) !important;
}

.tScoreC.you {
    background-color: var(--team-score-color) !important;
}

#menuMiniProfilePic {
	display: var(--show-menu-profile-pic) !important;
}

#gameNameHolder {
	display: var(--show-logo) !important;
}

.classCard {
	color: var(--class-name-color) !important;
}

.classWeap {
	color: var(--class-weapon-color) !important;
}

.classHP {
	color: var(--class-hp-value-color) !important;
}

.classHP span {
	color: var(--class-hp-unit-color) !important;
}

.classLvl {
	color: var(--class-level-color) !important;
}

.clsXPBarC {
	background-color: var(--class-progress-bar-color) !important;
}

.classXPBar {
	background-color: var(--class-progress-bar-background-color) !important;
}

.rankedType, .rankedELOTxt {
	color: var(--ranked-text) !important;
}

.menuTabsNew {
    background-color: var(--profile-tabs-background-color);
}

.tabANew {
    box-shadow: inset 0 -5px var(--profile-tabs-selected-highlight-color);
}

.menuTabNew:hover {
    box-shadow: inset 0 -5px var(--profile-tabs-hover-highlight-color);
}

span[style*='color: rgba(0, 0, 0, 0.8)'], .menuTabNew {
	color: var(--menu-text-color) !important;
}

.settName, .settNameSmall, span[style*='color: rgba(0, 0, 0, 0.5)'], #accResp, #requiresRestart {
    color: var(--menu-light-text-color) !important;
}

.hpBSeg, .healthBarSeg {
	border-radius: var(--health-bar-roundness);
}

.headerBarRight {
    border-radius: 0 0 0 var(--top-bar-roundness);
}

.headerBarLeft {
	border-radius: 0 0 var(--top-bar-roundness) 0;
}

#uiBase.onMenu #chatHolder {
    transition: var(--chat-animate);
}

#mainLogo {
    height: var(--logo-size);
}

.menuClassPlayerName {
    color: var(--menu-player-name-color);
}

#leaderContainer i[style*="color:#FBC02D"] {
	color: var(--premium-color) !important;
}

#leaderContainer i[style*="color:#40C4FF"] {
	color: var(--verified-color) !important;
}

.menuClassPlayerPremium {
	color: var(--home-premium-color) !important;
}

.menuClassPlayerVerified {
	color: var(--home-verified-color) !important;
}

#menuPingText, #menuFPSDisplay {
	color: var(--topbar-counters-text-color);
}

.headerBar div {
    color: var(--topbar-text-color);
}

#menuKRCount {
    color: var(--topbar-light-text-color);
}

#mLevelCont {
    color: var(--topbar-text-color);;
    background-color: var(--topbar-level-background-color);
}

.settingsBtn {
	color: var(--input-text);
	background-color: var(--input);
}